{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>Inscrições abertas!</h1>

<p>As inscrições para turma 02 do curso estão abertas até o dia 23 de Novembro de 2020, e podem ser feitas seguindo as instruções abaixo para preenchimento do formulário e pagamento via GRU! Esperamos por você!
</span>
	</div>
</section>
{{ partial "inscricoes_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
