{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Valores</h2>
<p>		
<p>Há valores diferenciados de inscrição de acordo com seu vínculo institucional e/ou modalidade de curso.
{{ with index $links "user"}}
{{ template "community-links-list"  . }}
{{ end }}
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Pagamento</h2>
<p>
<p>O pagamento das inscrições pode ser feito apenas via emissão de GRU.
<p>Clique <a href="https://consulta.tesouro.fazenda.gov.br/gru_novosite/gru_simples.asp">aqui</a> para emissão da GRU, e preencha com os dados abaixo:

<p>{{ with index }}Unidade Gestora (UG): 153079 (UNIVERSIDADE FEDERAL DO PARANA);
<p>Gestão: 15232 (UNIVERSIDADE FEDERAL DO PARANA);
<p>Nome da Unidade: UNVIERSIDADE FEDERAL DO PARANA
<p>Recolhimento/código: 28911-6 (SFIN SERVICOS EDUCACIONAIS);
<p>
<p>Clique em avançar para prosseguir à página seguinte, e preencha:
<p>
<p>Número referência: 1615368806003
<p>Competência: mês/ano do pagamento no formato mm/aaaa;
<p>Vencimento: dia/mês/ano do pagamento no formato dd/mm/aaaa;
<p>CNPJ/CPF do contribuinte: CPF do inscrito;
Nome do contribuinte: nome completo do inscrito;
Valor principal: valor da inscrição de acordo com à modalidade adequada;
Campos de "Descontos/Abatimentos", "Outras deduções", "Mora/Multa", "Juros/Encargos" e "Outros Acréscimos" devem ser deixados em branco.
Valor total: repetir o valor principal

Gerar PDF ou baixar PDF, e realizar pagamento do GRU em dinheiro em uma agência do Banco do Brasil, ou também via aplicativo do Banco do Brasil. 


</div>
</section>

{{ define "community-links-list" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a target="_blank" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}
